# Ignore all
/*
cmake/*


## Unignore the following extensions
!*.h
!*.cc
!*.cpp
!*.sh
!*.MD
!*.py

# Unignore the following files
!.gitignore
!*CMakeLists.txt
!.travis.yml
!Dockerfile

# Unignore source code directories
!common/
!core/
